* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-image: url("https://i.pinimg.com/originals/db/41/95/db419536939370e083f88b0c5be70d5e.jpg");
    background-size: 700px 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    padding: 125px;
    text-align: center;
    font-family: "Courier", sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
    font-family:"Courier", sans-serif;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #833F0C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
.active {
    background-color: #FF7659;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
