.content {
  background-color:#FFCD59;
}

.content p {
  font-family:"Courier", sans-serif;
  color:black;
}

h1 {
  font-family:"Courier", sans-serif;
}

h2 {
  font-family:"Courier", sans-serif;
}

img {
  width:100%;
}

li {
  font-family: "Courier", sans-serif;
}
